{% extends "base.html" %} {% block title %}AquaSensor flow tracker{% endblock %}
{% block contentHead %}

<script src="/static/eSmoothing.js"></script>
<script src="/static/dateAddSeconds.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.2/echarts.min.js" integrity="sha384-zsLANmosWr//2pfNcbDMJ6JzPZgkyybwmBiHz5Xns/gPlVdfWpro3MaaDKXBABED" crossorigin="anonymous"></script>

<script src="/static/correlateHead.js"></script>

<link rel="stylesheet" href="/static/css/correlation.css"/>
{% endblock %}
{% block content %}
<div id="container">
	<div id="warnings">
	</div>
	<div id="settings" class="corr">
		<form method="none" action="javascript:void(0);">
			<fieldset id="temp-oxy-view">
				<legend>variable toggles</legend>
				<br/>
				<span id="r">
				<label for="temp">temp</label>
				<input class="series-control"type="checkbox" id="temp" checked></input>
				</span>
				<br id="break"/>
				<span id="r">
				<label for="oxygen">oxygen</label>
				<input class="series-control" type="checkbox" id="oxygen" checked></input>
				</span>
			</fieldset>
			<fieldset id="dist-and-flow">
				<legend id="grid1" >manual settings</legend>
				<div  id="grid2" class="dfCell">
					<label id=flowLabel" for="flow" class="flowside">flow</label>
					<input type="checkbox" id="flow" class="flowside"></input>
				</div>
				<div class="dfCell" id="grid3">
					<label id="distLabel"for="dist">distance</label>
					<input type="checkbox" id="dist"></input>
				</div>

				<p id="grid4">Derwent 21</p>
				<span class="dfCell" id="grid5">
					<input type="text" id="flowA"></input><label id="flowALabel" for="flowA">m/s<sup>3</sup></label>
				</span>
				<span class="dfCell" id="grid6">
					<input type="text" id="distA"></input><label id="distALabel" for="distA">m</label>
				</span>
				<p id="grid7">Derwent 13-50</p>
				<span id="grid8" class="dfCell">
					<input type="text" id="flowB"></input><label id="flowBLabel" for="flowB">m/s<sup>3</sup></label>
				</span>
				<span id="grid9" class="dfCell">
					<input type="text" id="distB"></input><label id="distBLabel" for="distB">m</label>
				</span>

				<p id="grid10">Derwent 13</p>
			</fieldset>
			<label id="levelCheckLabel" for="levelCheck">level</label><input type=checkbox id="levelCheck"></input>
			<input type=number id="level"></input><label for="level" id="levelLabel">m</label>
			<br/>
			<input class="authrequired" id="offsubmit" type="submit" value="recalculate"></input>
		</form>
	</div>
	<div id="graph" class="corr">
		<div id="chart-section">
		</div>
	</div>
	<div id="form" class="corr">
		<form method="none" action="javascript:void(0);">
			<p>River Derwent<br/><sub><em>(other rivers to be supported in future)</em></sub></p>
			<input id="fetchDate" type="date">
			<input class="authrequired" id="datesubmit" type="submit" value="fetch data">
		</form>
	</div>
</div>
<script type="module" src="/static/correlateBody.js"></script>
{% endblock %}
