{% extends "base.html" %} {% block title %}AquaSensor flow tracker{% endblock %}
{% block contentHead %}
<script src="/static/isLogged.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.2/echarts.min.js" integrity="sha384-zsLANmosWr//2pfNcbDMJ6JzPZgkyybwmBiHz5Xns/gPlVdfWpro3MaaDKXBABED" crossorigin="anonymous"></script>

<script>
	//daily mean flow
	const flowApi = "https://environment.data.gov.uk/hydrology/id/measures/cad502d9-12f9-4449-a1e5-568b9f7d32e6-flow-m-86400-m3s-qualified/readings?";
	//daily min level
	const levelApi = "https://environment.data.gov.uk/hydrology/id/measures/cad502d9-12f9-4449-a1e5-568b9f7d32e6-level-min-86400-m-qualified/readings?";
	const DerwentWidthM = 6;
	/*
	flow=m3/s
	level=m
	width=m
	l*w/f=s/m
	
	distance=m
	s*m/m = s
	*/

	var warnList={'flowError':false,'levelError':false};

	async function getFlow(d){
		str=d.toISOString().substring(0,10);
		url=flowApi+"mineq-date="+str+"&maxeq-date="+str;
		let r = await fetch(url);
		let j = await r.json();
		if(j["items"].length==0){
			url=flowApi+"latest";
			r= await fetch(url);
			j= await r.json();
			warnList['flowError']=true;
		}
		return j["items"][0]["value"];
	}

	async function getLevel(d){
		str=d.toISOString().substring(0,10);
		url=levelApi+"mineq-date="+str+"&maxeq-date="+str;
		let r = await fetch(url);
		let j = await r.json();
		if(j["items"].length==0){
			url=levelApi+"latest";
			r= await fetch(url);
			j= await r.json();
			warnList['levelError']=true;
		}
		return j["items"][0]["value"];
	}
	async function parseWarnings(){
		let warn=document.getElementById("warnings");
		let c=0;
		warn.innerHTML="";
		if(warnList['flowError']){
			warn.innerHTML+="<em>Issues retreiving requested flow rate, latest reading used instead</em>"
			warnList['flowError']=false;
			c++;
		}
		if(warnList['levelError']){
			warn.innerHTML+="<em>Issues retreiving requested river level, latest reading used instead</em>"
			warnList['levelError']=false;
			c++;
		}
		return c;
	}
</script>

<link rel="stylesheet" href="/static/css/correlation.css"/>
{% endblock %}
{% block content %}

<div id="warnings">
</div>
<div id="settings" class="corr">
	<form>
		<fieldset id="temp-oxy-view">
			<legend>variable toggles</legend>
			<br/>
			<span id="r">
			<label for="temp">temp</label>
			<input type="checkbox" id="temp" checked></input>
			</span>
			<br/>
			<span id="r">
			<label for="oxygen">oxygen</label>
			<input type="checkbox" id="oxygen" checked></input>
			</span>
		</fieldset>
		<fieldset id="dist-and-flow">
			<legend>manual settings</legend>
			<div class="flowside">
				<label id=flowLabel" for="flow" class="flowside">flow</label>
				<input type="checkbox" id="flow" class="flowside"></input>
			</div>
			<div class="distside">
				<label id="distLabel"for="dist">distance</label>
				<input type="checkbox" id="dist"></input>
			</div>
			<br/>
			<input id="21Center" value="21" type="checkbox" class="MainSensor"></input>
			<label for="21Center">Derwent 21</label>
			<br/>
			<span class="flowside">
				<input type="text" id="flowA"></input><label id="flowALabel" for="flowA">m/s3</label>
			</span>
			<span class="distside">
				<input type="text" id="distA"></input><label id="distALabel" for="distA">m</label>
			</span>
			<br/>
			<input id="1350Center" value="1350" type="checkbox" class="MainSensor"></input>
			<label for="1350Center">Derwent 13-50</label>
			<br/>
			<span class="flowside">
				<input type="text" id="flowB"></input><label id="flowBLabel" for="flowB">m/s3</label>
			</span>
			<span class="distside">
				<input type="text" id="distB"></input><label id="distBLabel" for="distB">m</label>
			</span>
			<br/>
			<input id="13Center" value="13" type="checkbox" class="MainSensor"></input>
			<label for="13Center">Derwent 13</label>
			<br/>
		</fieldset>
		<label id="levelCheckLabel" for="levelCheck">level</label><input type=checkbox id="levelCheck"></input>
		<input type=number id="level"></input><label for="level" id="levelLabel">m</label>
		<br/>
		<input class="authrequired" type="submit" value="recalculate"></input>
	</form>
</div>
<div id="graph" class="corr">
	<div id="chart-section">
	</div>
</div>
<div id="form" class="corr">
	<form>
		<p>River Derwent<br/><sub><em>(other rivers to supported in future)</em></sub></p>
		<input type="datetime-local"></input>
	</form>
</div>
<script type="module">
  var logged;
  await _isLogged().then((value)=>logged=value);
  if(logged){
    //
    var chart=echarts.init(document.getElementById("chart-section"));
    let initOptions= {
      xAxis: [
        {
          type: "time",
          boundaryGap: false,
          data: [],
        },
      ],
      yAxis: [
        {
          type: "value",
        },
      ],
      series: [
        {
          name: "Dissolved Oxygen",
          type: "line",
          smooth: false,
          data: [],
        },
        {
          name: "Temperature",
          type: "line",
          smooth: false,
          data: [],
        },
      ],
    };
    chart.setOption(initOptions);
    var level;
    var flow;
    let now=new Date();
    await getLevel(now).then((value)=>level=value);
    await getFlow(now).then((value)=>flow=value);
  }
  else{
	  document.getElementById("warnings").innerHTML+="<p><em>No Authentication, please <a href=\"login?r=/correlate\">login</a> to use this page</em></p>";
	  Array.from(document.getElementsByClassName("authrequired")).forEach((arg)=>arg.setAttribute("disabled",""));
  }
</script>
{% endblock %}
