{% extends "base.html" %} {% block title %}AquaSensor{% endblock %}
{% block contentHead %}
<script>
  async function _isLogged() {
    let tok = window.sessionStorage["AquaSensorToken"];
    return await fetch("{{ base_url }}" + "/api/v1/auth/me", {
      headers: {
        Accept: "application/json",
        "AquaSensor-Login-Token": tok,
      },
    })
      .then((response) => response.json())
      .then((response) => {
        return "email" in response;
      });
  }
</script>

<style>
.main p{
      font-size: 20px;
      width: 200px;
      height: auto;
}

#datalist div{
	margin-left: 3vw;
	border:1px solid black;
}
@media screen and (min-width:480px){
	#datalist div{
		display:flex;
		min-width:45vw;
		min-height:400vw;
	}
}
@media screen and (min-width:801px){
	#datalist div{
		display:flex;
		min-width:16vw;
		min-height:16vw;
		float: left;
	}
}
#datalist div p{
	word-wrap: break-word;
	max-width: 14vw;
	line-height: 1.3;
}
</style>

{% endblock %}

{% block content %}
<div id="main">
  <p>
    The AquaSensor solution provides low cost, real-time river quality
    monitoring, which ensures legal compliance, saves money and protects the
    environment.
  </p>
  <div id="here"></div>
  <script>
    _isLogged().then((value) => {
      var writeto = document.getElementById("here");
      if (value) {
	      writeto.innerHTML=
"<h3>Data Correlation Tools:</h3><span id=\"datalist\"><div id=\"first\"></div><div id=\"second\"></div><div id=\"third\"></div></span>";
	      document.getElementById('first').innerHTML=
"<h4><a href=\"{{ base_url }}/studio\">Sensor map</a></h4><p>An interactive map which allows an easy overview of the sensor readings</p><img src=\"static/screenshots/studio.webp\" alt=\"A picture of map with a river section highlighted, the highlight is a gradient over shades of blue\"></img>";
	      document.getElementById('second').innerHTML=
"<h4><a href=\"\">TBD</a></h4>"
	      document.getElementById('third').innerHTML=
"<h4><a href=\"\">TBD</a></h4>"
      } else {
        writeto.innerHTML =
          "<a href='{{ base_url }}/login'><p>Sign in</p></a><a href='{{ base_url }}/register'><p>Register</p></a>";
      }
    });
  </script>
</div>
{% endblock %}
