{% extends "base.html" %}
{% block title %}AquaSensor{% endblock %}

{% block contentHead %}
<script defer>
  async function isLoggedIn() {
    const token = window.sessionStorage["AquaSensorToken"];
    const response = await fetch("/api/v1/auth/me", {
      headers: {
        Accept: "application/json",
        "AquaSensor-Login-Token": token,
      },
    });
    const data = await response.json();
    return data && data.email;
  }

  document.addEventListener("DOMContentLoaded", async () => {
    const loggedInView = document.getElementById("logged-in");
    const loggedOutView = document.getElementById("logged-out");

    const isLogged = await isLoggedIn();
    if (isLogged) {
      loggedInView.style.display = "block";
      loggedOutView.style.display = "none";
    } else {
      loggedInView.style.display = "none";
      loggedOutView.style.display = "block";
    }
  });
</script>

<link rel="stylesheet" href="/static/css/index.css"></link>
{% endblock %}

{% block content %}
<div id="main">
  <div id="content">
    <div id="here">
      <div id="logged-in" style="display: none;">
        <h3>Data Correlation Tools:</h3>
        <div id="datalist">
          <div>
            <h4><a href="/studio">Sensor Map Studio</a></h4>
            <p>An interactive sensor map and visualization tool showing both real time and historical data.</p>
            <img src="static/screenshots/studio.webp" alt="Map with a highlighted river section" />
          </div>
          <div>
            <h4><a href="#">TBD</a></h4>
            <p>Placeholder for future feature</p>
          </div>
          <div>
            <h4><a href="https://chatgpt.com/g/g-67b85ae105b48191ba83193839c0a47d-aquasensorgpt">AquasensorGPT</a></h4>
            <p>An interactive chatbot that can answer questions about the river and its surrounding environment using live sensor data.</p>
          </div>
        </div>
      </div>

      <div id="logged-out" style="display: none;">
        <p>
          The AquaSensor solution provides low cost, real-time river quality
          monitoring, which ensures legal compliance, saves money and protects the
          environment.
        </p>
        <a class="auth-link" href="/login">Sign in</a>
        <a class="auth-link" href="/register">Register</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
