{% extends "loginsuccessbase.html" %} {% block title %}AquaSensor{% endblock %} {% block content %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AquaSensor</title>
  </head>
  <style>
    .main h2{
      font-size: 20px;
      width: 200px;
      height: auto;
    }
  </style>
  <script>
    $(function(){
      $("#header").load("loginsuccessheader.html");
      $("#footer").load("footer.html");
    });
  </script>
  <body>
    <div id="header"></div>
    <div id="main">
      <h2>Login Successful</h2>

    </div>
    <div id="footer"></div>
  </body>
</html>
{% endblock %}
