{% extends "base.html" %} {% block title %}AquaSensor{% endblock%} {% block content %}
<style>
#map-section, #chart-section{
	width:50%;
	height:75vh;
	float: left;
}
</style>
<div id="map-section"></div>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="{{ base_url }}/dataLoading.js"></script>
<script src="{{ base_url }}/eSmoothing.js"></script>
<script>
	var map = L.map('map-section').setView([53.175537,-1.464475],11);
	L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
		attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
	}).addTo(map);
	if (L.Browser.mobile) {
	   map.removeControl(map.zoomControl);
	   map.doubleClickZoom.disable();
	}

	L.Control.Days=L.Control.extend({
		onAdd : function(map){
			var range = L.DomUtil.create('input');
			range.id="DateRange";
			range.type="number";
			range.min=1;
			range.value=1;
			range.onmouseover=function(){map.doubleClickZoom.disable();map.dragging.disable();}
			range.onmouseleave=function(){map.doubleClickZoom.enable();map.dragging.enable();}
			return range;
		},
		onRemove: function(map){
			//
		}
	});
	L.control.days= function(opts){
		return new L.Control.Days(opts);
	}
	L.control.days({position:'topright'}).addTo(map);

	L.marker([53.116169,-1.559394]).addTo(map).on('click',function(){load("941205",chart);});

	L.marker([53.109518, -1.545122]).addTo(map).on('click',function(){load("sensor022",chart);});

	var x = L.polyline([
		[53.111059,-1.562336],
		[53.110007,-1.559895],
		[53.110307,-1.555075]
	],{weight:5}).addTo(map).on('click',function(){load("sensor044",chart);});	
</script>

<script src=" https://cdn.jsdelivr.net/npm/echarts@5.6.0/dist/echarts.min.js "></script>
<div id="chart-section">
</div>
<script>
	var chart = echarts.init(document.getElementById('chart-section'));
	var option = {
		xAxis : [{
			type: 'time',
			boundaryGap:false,
			data: []
		}],
		yAxis : [{
			type: 'value'
		}],
		series : [
			{
				name:'Dissolved Oxygen',
				type:'line',
				smooth:false,
				data:[]
			},
			{
				name:'Temperature',
				type:'line',
				smooth:false,
				data:[]
			}
		]
	};
	chart.setOption(option);
</script>

{% endblock %}
