{% extends "base.html" %} {% block title %}AquaSensor{% endblock%} {% block content %}
<div id="map" height="60%">
	<div id="map-section">
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/moment"></script>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="{{ base_url }}/dataFunction.js"></script>
<script>
	var map = L.map('map-section',{doubleClickZoom:false}).setView([53.388,-1.6],11);
	L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
		attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
	}).addTo(map);

	L.marker([53.3841556,-1.7766328]).addTo(map).on('click',function(){load("941205",chart);});

	L.polygon([
		[53.38, -1.84],
		[53.388, -1.88],
		[53.39, -1.84]
	]).addTo(map).on('click',function(){load("sensor022",chart);});

	var x = L.polyline([
		[53.38,-1.74],
		[53.38,-1.75],
		[53.39,-1.76],
		[53.39,-1.77]
	],{weight:5}).addTo(map).on('click',function(){load("sensor044",chart);});	
</script>

<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment"></script>
<div id="chart" height="40%" width="100%">
	<canvas id="chart-section"></canvas>
</div>
<script>
	const canv=document.getElementById("chart-section");
	
	const chart = new Chart(canv,{type:'line',
		data: { labels:[],
			datasets:[{
				label:'temp',
				data:[]
			},{
				label:'diox',
				data:[]
			}]
		},
		options: {
			maintainAspectRatio: false,
			scales: {
				x: {
					type: 'time',
					time: {
						unit: 'second',
						parser: 'DD/MM/YYYY HH:mm',
						displayFormats: {
							second: 'HH:mm'
						}
					}
				}
			}
		}
	});	
</script>

{% endblock %}
