* {
  box-sizing: border-box;
}

nav {
  height: 5%;
  padding: 10px;
  color: black;
  background-color: #007eb8;
}

nav a {
  text-decoration: none;
  color: black;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  scrollbar-width: 0px;
}

div#container {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: row;
  border: 1px solid #68bbd9;
}

div#left {
  width: 15cm;
  height: 100%;
  background-color: #fff;
  margin: 0px;
  border: 5px solid #68bbd9;
  display: flex;
  flex-direction: column;
}

div#left-top {
  height: 50%;
  width: 100%;
  background-color: #fff;
}

div#left-bottom {
  height: 50%;
  width: 100%;
  background-color: #fff;
  border-top: 5px solid #68bbd9;
}

div#center {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

div#center-top {
  height: 80%;
  width: 100%;
  background-color: #fff;
}

div#center-bottom {
  height: 20%;
  width: 100%;
  background-color: #fff;
  border-top: 5px solid #68bbd9;
  border-bottom: 5px solid #68bbd9;
}

div#right {
  width: 15cm;
  height: 100%;
  background-color: #fff;
  border: 5px solid #68bbd9;
}

div#right-top {
  height: 50%;
  width: 100%;
  background-color: #fff;
}

div#right-bottom {
  height: 50%;
  width: 100%;
  background-color: #fff;
  border-top: 5px solid #68bbd9;
}

div#center-top > div#map {
  height: 100%;
  width: 100%;
}

div#date-slider {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
}

div#date-slider > input {
  width: 90%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

div.info-panel {
  padding: 20px;
  height: 100%;
  width: 100%;
}

div.info-panel-header {
  width: 100%;
  padding: 20px;
  height: 20%;
  font-size: x-large;
  text-align: center;
}

div.info-panel-content {
  height: 80%;
  width: 100%;
}

div.info-panel-content-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

div.info-panel-content-item-title {
  width: 60%;
}

div.info-panel-content-item-value {
  width: 30%;
  text-align: right;
}

div#map-controls > label {
  display: block;
  margin: 10px;
}
